* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
}

li {
    margin-left: 3vw;
}

.navbox {
    width: 100vw;
    height: 8vh;
    background-color: rgb(115, 190, 115);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.492);
}

.navbox ul li a {
    outline: none;
    font-style: none;
    text-decoration: none;
    color: white;
    list-style-type: none;
    

}

.result {
    display: grid;
    width: 91.8vw;
    grid-template-columns: repeat(5, minmax(auto, 500px));
    padding: 30px;
    margin-top: 10vh;
    margin-left:3vw;
    column-gap: 20px;
}

.card-food {
    border-radius: 20px;
    height: 40vh;
    background-color: rgb(250, 250, 250);
    max-width: 1fr;
    margin-top: 20px;
    box-shadow: 2px 2px rgba(227, 227, 227, 0.698);
}

.card-food img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 20px;
    height: 65%;
    width: 85%;
}

.meal-names { 
    color: red;
    text-wrap: break-word;
}